<style>

    #menu, #menu li {

        margin: 0; /* убрать внутренние отступы */

        padding: 0; /* убрать внешние отступы */

    }

    #menu {

        background: #353a40; /* цвет фона навигационной панели */

    }

    #menu li{

        display:inline-block; /* расположить пункты горизонтально */

        text-align: center; /* текст горизонтально по центру */

    }

    #menu a {

        display: block; /* ссылка растягивается на весь пункт li */

        padding: 5px 15px; /* задаем внутренние отступы */

        color: #fff; /* цвет текста */

        text-decoration: none; /* убрать нижнее подчёркивание у ссылок */

    }

    #menu a:hover {

        background: #8AB8CC; /* фон пунктов при наведении */

    }

</style>